.pace-progress {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000000;

  height: 3px;
  background-color: #FFC01F;

  /* If all goes to plan, we will be drawing many frames per second and these will
   * be irrelevant.  If the browser is too slow however, these will help smooth the
   * stuttering updates outside of the js thread.
   */
  transition: width 1s ease-in-out;
  -webkit-transition: width 1s ease-in-out;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
}

.pace-done {
  display: none;
}
