.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace .pace-progress {
  position: fixed;
  top: 0;
  right: 0;
}

.pace .pace-progress:after {
  font-size: 5em;
  line-height: 5em;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 100;
  color: #444;
  color: rgba(0, 0, 0, 0.2);
  content: attr(data-progress);
}