/*!
 * Documentation home
 */
html,
body {
	margin: 0;
	height: 100%;
	color: #000;
}

a,
a:hover,
a:active {
	text-decoration: none
}

body {
	font-family: "proxima-nova", "Helvetica Neue", sans-serif;
}

@media (min-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1700px) { html { font-size: 188%; } }
@media (max-width: 1680px) { html { font-size: 186%; } }
@media (max-width: 1660px) { html { font-size: 184%; } }
@media (max-width: 1640px) { html { font-size: 182%; } }
@media (max-width: 1620px) { html { font-size: 180%; } }
@media (max-width: 1600px) { html { font-size: 178%; } }
@media (max-width: 1580px) { html { font-size: 176%; } }
@media (max-width: 1560px) { html { font-size: 174%; } }
@media (max-width: 1540px) { html { font-size: 172%; } }
@media (max-width: 1520px) { html { font-size: 170%; } }
@media (max-width: 1500px) { html { font-size: 168%; } }
@media (max-width: 1480px) { html { font-size: 166%; } }
@media (max-width: 1460px) { html { font-size: 164%; } }
@media (max-width: 1440px) { html { font-size: 162%; } }
@media (max-width: 1420px) { html { font-size: 160%; } }
@media (max-width: 1400px) { html { font-size: 158%; } }
@media (max-width: 1380px) { html { font-size: 156%; } }
@media (max-width: 1360px) { html { font-size: 154%; } }
@media (max-width: 1340px) { html { font-size: 152%; } }
@media (max-width: 1320px) { html { font-size: 150%; } }
@media (max-width: 1300px) { html { font-size: 148%; } }
@media (max-width: 1280px) { html { font-size: 146%; } }
@media (max-width: 1260px) { html { font-size: 144%; } }
@media (max-width: 1240px) { html { font-size: 142%; } }
@media (max-width: 1220px) { html { font-size: 140%; } }
@media (max-width: 1200px) { html { font-size: 138%; } }
@media (max-width: 1180px) { html { font-size: 136%; } }
@media (max-width: 1160px) { html { font-size: 134%; } }
@media (max-width: 1140px) { html { font-size: 132%; } }
@media (max-width: 1120px) { html { font-size: 130%; } }
@media (max-width: 1100px) { html { font-size: 128%; } }
@media (max-width: 1080px) { html { font-size: 126%; } }
@media (max-width: 1060px) { html { font-size: 124%; } }
@media (max-width: 1040px) { html { font-size: 122%; } }
@media (max-width: 1020px) { html { font-size: 120%; } }
@media (max-width: 1000px) { html { font-size: 118%; } }
@media (max-width: 980px) { html { font-size: 116%; } }
@media (max-width: 960px) { html { font-size: 114%; } }
@media (max-width: 940px) { html { font-size: 112%; } }
@media (max-width: 920px) { html { font-size: 110%; } }
@media (max-width: 900px) { html { font-size: 108%; } }
@media (max-width: 880px) { html { font-size: 106%; } }
@media (max-width: 860px) { html { font-size: 104%; } }
@media (max-width: 840px) { html { font-size: 102%; } }
@media (max-width: 820px) { html { font-size: 100%; } }
@media (max-width: 800px) { html { font-size: 98%; } }
@media (max-width: 780px) { html { font-size: 96%; } }
@media (max-width: 760px) { html { font-size: 94%; } }
@media (max-width: 740px) { html { font-size: 92%; } }
@media (max-width: 720px) { html { font-size: 90%; } }
@media (max-width: 700px) { html { font-size: 88%; } }
@media (max-width: 680px) { html { font-size: 86%; } }
@media (max-width: 660px) { html { font-size: 84%; } }
@media (max-width: 640px) { html { font-size: 82%; } }
@media (max-width: 620px) { html { font-size: 80%; } }
@media (max-width: 600px) { html { font-size: 78%; } }
@media (max-width: 580px) { html { font-size: 76%; } }
@media (max-width: 560px) { html { font-size: 74%; } }
@media (max-width: 540px) { html { font-size: 72%; } }
@media (max-width: 520px) { html { font-size: 70%; } }
@media (max-width: 500px) { html { font-size: 68%; } }
@media (max-width: 480px) { html { font-size: 66%; } }
@media (max-width: 460px) { html { font-size: 64%; } }
@media (max-width: 440px) { html { font-size: 62%; } }
@media (max-width: 420px) { html { font-size: 60%; } }
@media (max-width: 400px) { html { font-size: 58%; } }
@media (max-width: 380px) { html { font-size: 56%; } }
@media (max-width: 360px) { html { font-size: 54%; } }
@media (max-width: 340px) { html { font-size: 52%; } }
@media (max-width: 320px) { html { font-size: 50%; } }

.header {
	color: #000;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
	text-align: center;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	width: 29rem;
	max-width: 100%;
	height: 100%;
	z-index: 1;
}
.header h1 {
	font-size: 10rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: .05em;
}
.header h2 {
	font-size: 5rem;
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: .1em;
}
.header .subtitle {
	position: absolute;
	margin: auto;
	top: 0rem;
	left: 0;
	right: 0;
	bottom: 1rem;
	padding-top: 9rem;
	height: 4rem;
	text-align: center;
}
.header .subtitle h3 {
	margin: 0;
	font-size: 1.8rem;
}
.header .title h1 {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 3rem;
	height: 1.4em;
	text-align: center;
}
.header .title .title1 {
	color: #eee;
	color: rgba(0, 0, 0, .1);
}
.header .title span {
	display: block;
	position: absolute;
	top: 0;
}
.header .title .title2:before {
	position: absolute;
	top: 16.5%;
	bottom: 34%;
	left: 2%;
	right: 2%;
	content: "Progress Automatically. Certain to Entertain.";
	font-size: 1rem;
	line-height: 1.3em;
	padding: 1rem 15rem 1rem 1rem;
	background: #fff;
	opacity: 0;
	text-align: left;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transform: translateY(-15px);
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
	z-index: 10;
}
.header .title .title2:hover:before {
	opacity: 1;
	-webkit-transform: translateY(0px);
}
.header .title .char1 { left: .5%; width: 22%; }
.header .title .char2 { left: 25%; width: 22%; }
.header .title .char3 { left: 51%; width: 22%; }
.header .title .char4 { left: 79.5%; width: 22%; }

.section {
	position: relative;
	height: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.section.colored {
	color: #fff;
}

.section.colored .header .title .title2 {
	color: #fff;
}

.section.colored .header .subtitle {
	color: #fff;
}

.header .title .title2 span {
	width: 0px;
	-webkit-transition: width 2s linear;
	-moz-transition: width 2s linear;
	-ms-transition: width 2s linear;
	-o-transition: width 2s linear;
	transition: width 2s linear;
	overflow: hidden;
}

.page-loaded .header .title .title2 .char1 { width: 22%; }
.page-loaded .header .title .title2 .char2 { width: 24%; }
.page-loaded .header .title .title2 .char3 { width: 24%; }
.page-loaded .header .title .title2 .char4 { width: 21%; }


.up-arrow, .down-arrow {
	width: 100%;
	text-align: center;
	font-size: 2rem;
}

.down-arrow {
	position: absolute;
	left: 0;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
	bottom: 30px;
}

.section.colored .down-arrow {
	color: rgba(255, 255, 255, .5);
}

h2 {
	text-align: center;
}
.themes {
	overflow: hidden;
	text-align: center;
}
.theme {
	width: 46%;
}
.theme.even {
	text-align: center;
	float: left;
	clear: both;
}
.theme.odd {
	text-align: center;
	float: right;
}
.browser {
	background: #e0e0e0;
	border: 4px solid #e0e0e0;
	width: 100%;
	height: 7rem;
	padding-top: 20px;
	margin: 0 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.browser iframe {
	border: 0;
	background: #fff;
	height: 100%;
	width: 100%;
}
input[type="color"] {
	width: 15rem;
	height: 2.3rem;
	font-size: 1rem;
	position: relative;
	font-family: inherit;
	cursor: pointer;
}
input[type="color"]::before {
	content: " ";
	display: block;
	position: absolute;
	top: 0;
	left: 3px;
	right: 3px;
	height: 100%;
	border: 6px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="color"]::after {
	content: "Choose a color";
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	left: -2px;
	right: -2px;
	height: 100%;
	font-size: .7rem;
	line-height: 2rem;
	color: #fcfcfc;
	color: rgba(255, 255, 255, 1);
	font-weight: 800;
	text-transform: uppercase;
	letter-spacing: 2px;
	border: 6px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
input[type="color"]:active::after {
	color: rgba(255, 255, 255, 0.4);
}

.themes h3 {
	margin-top: 1.5em;
	margin-bottom: 0;
}

.themes h3 + p {
	margin-top: 0;
}

.page {
	text-align: center;
	max-width: 28rem;
	padding: 0 10px;
	margin: 0 auto;
}

a.primary-btn-hover:hover {
	color: rgba(255, 255, 255, 0.4);
}

.themes a,
.themes a:hover,
.themes a:active {
	text-decoration: none;
	font-size: .7rem;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.themes a.author,
.themes a:hover.author {
	margin: -1em 0;
	display: block;
	font-size: .5rem;
	color: #888;
}

.themes a:hover.author {
	color: #444;
}

.themes a.author:before {
	content: "by: ";
	color: #ccc;
}

a.button {
	padding: 0.5rem 1rem;
	color: #fff;
	cursor: pointer;
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: .1em;
	text-decoration: none;
}
.themes-pitch {
	padding: 15px;
}
.block {
	padding: 10px 0;
}
.color-label {
	display: none;
}
.text-left {
	text-align: left;
}