.hs3-public-footer

    .row-fluid.hs-page-width-normal

        .span3.hidden-phone

            h3 HubSpot

            ul
                li
                    a(href="http://www.hubspot.com") Home

                li
                    a(href="http://www.hubspot.com/software") Products

                li
                    a(href="http://www.hubspot.com/internet-marketing-company/") About

        .span3

            h3 Projects

            ul
                li
                    a(href="http://github.hubspot.com/messenger") Messenger

                li
                    a(href="http://github.hubspot.com/facewall") Facewall

                li
                    a(href="http://github.hubspot.com/jquery-zoomer") jQuery Zoomer

                li
                    a(href="http://github.hubspot.com/humanize") Humanize

                li
                    a(href="http://github.hubspot.com/teeble") Teeble

        .span3

            h3 Development Team

            ul
                li
                    a(href="http://dev.hubspot.com") Home

                li
                    a(href="http://dev.hubspot.com/teams") Teams

                li
                    a(href="http://dev.hubspot.com/people") People

                li
                    a(href="http://dev.hubspot.com/jobs") Jobs


        .span3.hidden-phone

            h3 Developer API

            ul
                li
                    a(href="http://developers.hubspot.com/") Developer Documentation