<div id="hs-nav-v3" class="nav-width-flex signed-out-nav">
    <div class="hs-nav-section main-nav">
        <div class="nav-section-inner">
            <ul class="nav-links-left">
                <li class="first"><a class="nav-logo" href="http://www.hubspot.com/"><img height="34" src="https://static.hubspot.com/style-guide/img/nav-sprocket.png" width="29"></a></li>
                <li>
                    <a href="http://dev.hubspot.com">
                        HubSpot Dev &amp; Design
                    </a>
                </li>
                <li>
                    <a href="http://hubspot.github.com">
                        Open Source
                    </a>
                </li>
            </ul>
            <ul class="nav-links-right">
                <li class="first">
                    <a href="http://dev.hubspot.com/jobs/" class="sign-in">You should work at HubSpot</a>
                </li>
            </ul>
        </div>
    </div>
</div>
